<div class="container">
    <div class="row">
        <div class="col-2">
            <h3>Bộ Lọc Tìm kiếm</h3>

            <hr class="my-3">

            <div class="filter-group">
                <label for="category" style="font-weight: 600; color: red;">Theo Danh Mục</label>

                <!-- checkbox -->
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="dien-thoai" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Điện Thoại
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="may-tinh" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Máy Tính
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Phụ Kiện
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Siêu Nhân
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        Cơ sở dữ liệu
                    </label>
                </div>
            </div>
            <hr class="my-3">
            <div class="filter-group">
                <label for="category" style="font-weight: 600; color: red;">Theo Nơi Bán</label>

                <!-- checkbox -->
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="dien-thoai" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                        TP Hồ Chí Minh
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="may-tinh" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                        Hà Nội
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                        Đà Nẵng
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">
                        Cần Thơ
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">
                        Hải Phòng
                    </label>
                </div>
            </div>
            <hr class="my-3">
            <div class="filter-group">
                <label for="category" style="font-weight: 600; color: red;">Đơn vị vận chuyển</label>

                <!-- checkbox -->
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="dien-thoai" id="defaultCheck11">
                    <label class="form-check-label" for="defaultCheck11">
                        Giao Hàng Hỏa Tốc
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="may-tinh" id="defaultCheck12">
                    <label class="form-check-label" for="defaultCheck12">
                        Giao Hàng Nhanh
                    </label>
                </div>
                <div class="form-check" style="font-weight: 400;">
                    <input class="form-check-input" type="checkbox" value="phu-kien" id="defaultCheck13">
                    <label class="form-check-label" for="defaultCheck13">
                        Giao Hàng Tiết Kiệm
                    </label>
                </div>
            </div>

            <div class="filter-group">
                <label for="price-range" style="font-weight: 600; color: red;">Khoảng giá</label>
                <div class="form-group">
                    <input type="number" class="form-control" id="price-min" placeholder="Từ" min="0">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="price-max" placeholder="Đến" min="0">
                </div>
            </div>

        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" placeholder="Search for products" class="search-input">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </div>

                <div class="row pl-4 pr-4">
                    {{#each productList}}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a href="/products/{{this.slug}}" style="text-decoration: none;">
                            <div class=" card">
                                <div class="branch">{{this.brand}}</div>
                                <div class="image">
                                    <img src="{{this.image}}" alt="Product" class="w-100" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mb-3 text-center">{{this.name}}</h5>
                                    <h6 class="card- mb-3 text-center">${{this.price}}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/products.css">