<div class="container py-5">
    <div class="row">
        <!-- Thông tin sản phẩm -->
        <div class="col-lg-6 col-md-12 mb-4">
            <img src="{{product.image}}" alt="Product Image" class="product-img">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h2 class="product-title">{{product.name}}</h2>
                <h3 class="product-price">Giá: ${{product.price}}</h3>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="product-description">
                <p>{{product.description}}</p>
            </div>

            <div class="product-details">
                <p><span>Thương hiệu:</span>{{product.brand}}</p>
                <p><span>Số lượng tồn kho:</span> {{product.inventory_quantity}} sản phẩm</p>
                <p><span>Danh mục:</span>{{product.category}}</p>
                <p><span>Ngày thêm sản phẩm:</span> 15/10/2024</p>
                <p class="rating"><span>Đánh giá:</span> ★★★★☆ (4/5)</p>
            </div>

            <button class="product-btn">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/productDetails.css">